.botonera {
    background-color: $secondaryColor;
    ul{
        li{
            margin-left: 5px;
            a{
                color: $mainColor;
                font-family: $mainFont;
                font-size: $textSm;
                font-weight: $fontBold;
                &:hover{
                    color: $keyColor;
                }
            }
        }
    }
    img{
        width: 150px;
    }
}