$mainColor: #4c5460;
$secondaryColor: #e8f982;
$keyColor: #ee693f;
$bgColor: #eeeeee;

$mainFont: "Montserrat", sans-serif;

$textSm: 0.8em;
$textMd: 1em;
$textLg: 2em;
$textXl: 3em;

$fontLight:100;
$fontRegular:400;
$fontBold:600;