$mainColor: #4c5460;
$secondaryColor: #e8f982;
$keyColor: #ee693f;
$bgColor: #eeeeee;
$footerColor: #d2bcd1;

$mainFont: "Montserrat", sans-serif;

$textXs: 0.8em;
$textSm: 0.9em;
$textMd: 1em;
$textLg: 2em;
$textXl: 3em;

$fontLight:100;
$fontRegular:500;
$fontBold:600;

